@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6e8ea;
  --foreground: #30343f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30343f;
    --foreground: #f6e8ea;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* CC444B */
/* F3A712 */
